* {
  color: #222222;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 400px;
  margin: 0;
}

a {
  font-weight: 400;
  font-size: 10.5px;
  color: #9e9e9e;
}

header {
  box-sizing: border-box;
  padding: 12px 24px;
  width: 100%;
  border-bottom: 1px solid #efefef;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

/* Use this to display Header */
h1 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

/* Use this to display Titles */
h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

/* Use this to display URL and other tertiary content */
h3 {
  font-size: 10px;
  font-weight: 400;
  color: #767676;
  margin: 0;
}

.headerWrapper {
  height: 63px;
}

.headerTextWrapper {
  float: left;
}

.addButton {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border-width: 0px;
  background-image: url("src/AddIconNoBG.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color 0.5s;
  padding: 0;
}

.addButton:hover {
  background-color: #f1f1f1;
}

.bookBinding {
  background-color: #ffffff;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  width: 90%;
}

.bookBinding:hover {
  background-color: #F7FFFF;
  cursor: pointer;
}

.bookBinding:hover > .deleteButton {
  visibility: visible;
}

.favIcon {
  width: 32px;
  height: 32px;
  float: left;
  padding-right: 12px;
}

.textContentWrapper {
  width: 80%;
  float: left;
  padding: 0 8px;
  box-sizing: border-box;
}

.title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.url {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.deleteButton {
  width: 20px;
  height: 20px;
  padding-left: 16px;
  border-width: 0px;
  border-radius: 10px;
  visibility: hidden;
  background-image: url("src/DeleteButton.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.deleteButton:hover {
  background-color: #ffffff;
  cursor: pointer;
}
